<h1>Sign Up</h1>

<form action="<%= new_user_url %>" method="post">
    <label>Username:</label>
    <input type="text" name="user[username]">
    <br/>
    <label>Password:</label>
    <input id="password" type="password" name="user[password]">
    <br/>
    <input type="submit" value="Login">
</form>
