<h1>Sign Up</h1>

<form action="<%= users_url %>" method="POST">
    <label>Username:</label>
    <input type="text" name="user[username]">
    <br/>
    <label>Password:</label>
    <input id="password" type="password" name="user[password]">
    <br/>
    <input type="submit" value="Sign Up">
</form>
